/*redimensionnement du logo */
.logo{
    width: 50%;
    height: auto;
}

.nav{
    justify-content: right;
}

span.navbar-toggler-icon{
    color: white;
}

.card img{
    width: 50%;
    margin:auto;
}

.partenaire{
    width: 80%;
}
